@import url("main1.css");
@import url("main2.css");
@import url("main3.css");
.container {
    border: 1px;
    grid-template-rows: 300px;
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
}
#bw4 {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
}
#bw4 img {
    width: 100%;
}
#bw1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#bw1 img {
    width: 100%;
}
#bw2 {
    display: flex;
    flex-direction: row;
    background: #ddd;
    border: 1px;
    justify-content: space-between;
}
a:hover {
    text-decoration: none;
    background-color: #000000;
}
button {
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    background: transparent;
    text-decoration: none;
}
#bw3 {
    border: 1px;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color:red;
}
#bw5 {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    background: #000000;
    color: red;
    justify-content: space-around;
}
.box1 {
    border: 1px solid green;
    justify-content: space-between;
}
a {
    text-decoration-color: none;
    text-decoration: none;
}
h2 {
    display: flex;
    justify-content: center;
}
header {
    grid-area: hd;
}
sidebar {
    grid-area: sd;
}
main {
    grid-area: main;
}
footer {
    grid-area: ft;
}
@media (max-width: 320px) (min-width: 600px) and (max-width: 900px) {
    .container {
        border: 1px;
        grid-template-rows: 300px;
        grid-template-areas:
            "hd"
            "sd"
            "main"
            "ft";
    }
}
@media (min-width: 901px) {
    .container {
        border: 1px;
        grid-template-rows: 300px;
        grid-template-areas:
            "hd"
            "sd"
            "main"
            "ft";
    }
}
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url("https://i.redd.it/b3esnz5ra34y.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
}
figcaption {
    text-align: center;
}

#button-back {
    padding: 15px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 20pt;
}

.profile-body {
    margin: 25px;
}

.profile {
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #ddd;
    padding: 20px;
    z-index: 0;
}

.photo {
    margin: 25px;
}

.image--cover {
    width: 170px;
    height: 170px;
    border: #fff 3px solid;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -40px;
}

.username,
.profession,
.locationname,
.cam{
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 1px;
}

.username {
    font-size: 20pt;
    margin: 2px;
}

.profession {
    font-size: 14pt;
}

.locationname {
    font-size: 14pt;
    margin: 2px;
}

.cam{
    border-top: #969696 solid 1px;
    padding: 10px;
    font-size: 11pt;
    margin: 5px;
}
p{
    color:yellow;
}
article{
    color:yellow;
}